* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --primary-color: black;
  --second-color: white;
  --third-collor: red;
  --primary-width-1440: 90rem; /* 1440 px */
  --primary-margin: 1.25rem; /* 20 px */
  --margin-40: 2.5rem; /* 40 px */
  --font-size-standart: 2rem;
}

/* header style */

.header {
  max-width: var(--primary-width-1440);
  height: 5rem;
  margin: o auto;
  display: flex;
  padding: var(--primary-margin);
  border: 2px solid red;
}
.header-tittle {
  width: 30%;
  margin: auto 0;
  text-align: left;
}
.nav-section {
  width: 70%;
}
.nav {
  padding-right: 1rem;
  margin: 0;
  margin-left: auto;
  width: 45%;
  font-size: var(--font-size-standart);
  gap: 1rem;
  display: flex;
  list-style-type: none;
}

/* main content */
.main {
  max-width: var(--primary-width-1440);

  margin: o auto;
  padding: var(--primary-margin);
  border: 2px solid red;
}

/* Реклама */
.advertising {
  position: relative;
  display: flex;
  overflow: hidden;
  max-width: var(--primary-width-1440);
  height: 35rem;
  border-radius: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider {
  width: calc(100% * 5);
  display: flex;
}

.slide {
  flex: 0 0 100%;
  border-radius: 3rem;
}

.imgSlide {
  display: block;
  width: 100%;
  height: 100%;
}
.slider-btn {
  position: absolute;
  top: 0;
  width: 4%;
  height: 100%;
  background: transparent;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, opacity 0.3s;
  z-index: 10;
}

.slider-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

/* Trigger button */
.triggerButton {
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  display: flex;
}
.consultationCall {
  cursor: pointer;
  transition: 0.3s;
  color: white;
  border-radius: 0.7rem;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 2rem;
  line-height: 2rem;
  background-color: red;
}
.consultationCall:hover {
  transform: scale(110%);
}

/* категории услуг */
.categories {
  display: block;
  flex-wrap: wrap;
  max-width: var(--primary-width-1440);
  margin: o auto;
  margin-top: var(--primary-margin);
  margin-bottom: var(--primary-margin);
  padding: var(--primary-margin);
  justify-content: space-around;
  gap: 1rem;
  border: 2px solid red;
}
.categories-tittle {
  text-align: center;
  font-size: var(--font-size-standart);
  margin-bottom: var(--primary-margin);
  border: 2px solid red;
}
.all-categories {
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
}

.home {
  cursor: pointer;
  display: inline-block;
  width: 40rem;
  height: 25rem;
  border: 2px solid red;
  background-image: url(../img/House.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out, 0.3s ease-in-out;
  transform: translateY(-5px);
}

.home:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8); /* Увеличиваем тень */
  transform: translateY(-0px);
}

/* отзывы */
.our-reviews {
  display: block;
  justify-content: space-around;
  max-width: var(--primary-width-1440);
  margin: o auto;
  padding: var(--primary-margin);
  border: 2px solid red;
}
.reviews {
  width: 20rem;
  height: 10rem;
  border: 2px solid red;
}
.reviews-tittle {
  text-align: center;
  font-size: var(--font-size-standart);
  margin-bottom: var(--primary-margin);
  border: 2px solid red;
}
.all-reviews {
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
}

/* Контакты */
.contacts {
  display: block;
  flex-wrap: wrap;
  max-width: var(--primary-width-1440);
  margin: o auto;
  margin-top: var(--primary-margin);
  margin-bottom: var(--primary-margin);
  padding: var(--primary-margin);
  justify-content: space-around;
  gap: 1rem;
  border: 2px solid red;
}
.contacts-tittle {
  text-align: center;
  font-size: var(--font-size-standart);
  margin-bottom: var(--primary-margin);
  border: 2px solid red;
}
.our-contacts {
  gap: 1rem;
  max-width: var(--primary-width-1440);
  margin: o auto;
  display: flex;
  flex-wrap: wrap;
}
.text-contact {
  width: 30rem;
  height: 20rem;
  border: 2px solid red;
}
.map {
  width: 50rem;
  height: 25rem;
  border: 2px solid red;
}
/* ФУТТЕР */

.footer {
  max-width: var(--primary-width-1440);
  height: 10rem;
  margin: o auto;
  border: 2px solid red;
  margin-bottom: 1rem;
}
