* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --primary-color: black;
  --second-color: white;
  --third-collor: red;
  --primary-width-1440: 90rem; /* 1440 px */
  --primary-margin: 1.25rem; /* 20 px */
  --margin-40: 2.5rem; /* 40 px */
  --font-size-standart: 2rem;
}
body {
  background-image: url(../img/background_for_a_website_on_cadastral_activities_where_there_should_be_a_circule_and_a_ruler_3658724372.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/faded_cadastral_background.png) no-repeat center/cover;
  opacity: 0.3;
  z-index: -1;
} */

/* header style */

.header {
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 8px 19px -8px rgba(34, 60, 80, 0.55);
  -moz-box-shadow: 0px 8px 19px -8px rgba(34, 60, 80, 0.55);
  box-shadow: 0px 8px 19px -8px rgba(34, 60, 80, 0.55);
}
.headerIn {
  max-width: var(--primary-width-1440);
  display: flex;
  padding: var(--primary-margin);
  background-color: white;
}
.header-tittle {
  width: 30%;
  margin: auto 0;
  text-align: left;
}
.nav-section {
  width: 70%;
}
.nav {
  padding-right: 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
  gap: 1rem;
  display: flex;
  list-style-type: none;
  justify-content: end;
}
.nav li {
  -webkit-box-shadow: 0px 0px 21px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 21px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 21px 4px rgba(34, 60, 80, 0.2);
  transition: 0.5s;
  cursor: pointer;
  margin: 0;
  padding: 0.2rem;
  border-radius: 0.5rem;
}
.nav li:hover {
  color: white;
  background-color: red;
}
.nav a {
  color: black;
  margin: 0;
  text-decoration: none;
}
.icon-contact-nav {
  display: flex;
  gap: 1rem;
}
.whatsapp-contact-nav {
  width: 1.7rem;
}
.icon-contact-nav a {
  margin: 0;
}
.icon-contact-nav img {
  transition: 0.3s;
  cursor: pointer;
  margin: 0;
  height: 2rem;
}
.icon-contact-nav img:hover {
  transform: scale(115%);
}

/* main content */
.main {
  max-width: var(--primary-width-1440);
  margin: o auto;
  padding: var(--primary-margin);
}

/* Реклама */
.advertising {
  -webkit-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  position: relative;
  display: flex;
  overflow: hidden;
  max-width: var(--primary-width-1440);
  height: 35rem;
  border-radius: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider {
  width: calc(100% * 5);
  display: flex;
}

.slide {
  flex: 0 0 100%;
  border-radius: 3rem;
}

.imgSlide {
  display: block;
  width: 100%;
  height: 100%;
}
.slider-btn {
  position: absolute;
  top: 0;
  width: 4%;
  height: 100%;
  background: transparent;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, opacity 0.3s;
  z-index: 10;
}

.slider-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

/* Trigger button */
.triggerButton {
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  display: flex;
}
.consultationCall {
  cursor: pointer;
  transition: 0.3s;
  color: white;
  border-radius: 0.7rem;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 2rem;
  line-height: 2rem;
  background-color: red;
}
.consultationCall:hover {
  transform: scale(110%);
}

/* категории услуг */
.categories {
  -webkit-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  background-color: white;
  display: block;
  flex-wrap: wrap;
  max-width: var(--primary-width-1440);
  margin: o auto;
  margin-top: var(--primary-margin);
  margin-bottom: var(--primary-margin);
  padding: var(--primary-margin);
  justify-content: space-around;
  gap: 1rem;
}
.categories-tittle {
  text-align: center;
  font-size: var(--font-size-standart);
  margin-bottom: var(--primary-margin);
}
.all-categories {
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
}

.home {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;

  display: inline-block;
  width: 30rem;
  height: 25rem;
  /* background-image: url(../img/reshot-icon-home-AX2JK9FEYM.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */

  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); */
  transition: 0.3s ease-in-out, 0.3s ease-in-out;
  transform: translateY(-5px);
}
.home img {
  padding-top: 1rem;
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(-5px);
  width: 100%;
  height: 80%;
  clip-path: url(../img/reshot-icon-home-AX2JK9FEYM.svg); /* SVG-контур */

  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 2));
}
.home img:hover {
  transform: translateY(-0px);
  clip-path: url(../img/reshot-icon-home-AX2JK9FEYM.svg); /* SVG-контур */
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));
}

/* .home:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
  transform: translateY(-0px);
} */

/* отзывы */
.our-reviews {
  -webkit-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  background-color: white;
  display: block;
  justify-content: space-around;
  max-width: var(--primary-width-1440);
  margin: 0 auto;
  padding: var(--primary-margin);
}
.reviews {
  cursor: pointer;
  -webkit-box-shadow: 0px 7px 5px -4px rgba(146, 153, 159, 0.3);
  -moz-box-shadow: 0px 7px 5px -4px rgba(146, 153, 159, 0.3);
  box-shadow: 0px 7px 5px -4px rgba(146, 153, 159, 0.3);
  transition: 0.3s;
  width: 18rem;
  height: 30rem;
  border: 1px solid rgb(16, 13, 13);
}
.reviews:hover {
  transform: scale(105%);
}
.reviews img {
  width: 100%;
  height: 100%;
}
.reviews-tittle {
  text-align: center;
  font-size: var(--font-size-standart);
  margin-bottom: var(--primary-margin);
}
.all-reviews {
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
}

/* Лицензии */
.our-licenses {
  -webkit-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  background-color: white;
  display: block;
  justify-content: space-around;
  max-width: var(--primary-width-1440);
  margin: 0 auto;
  margin-top: var(--primary-margin);
  padding: var(--primary-margin);
}
.licenses {
  cursor: pointer;
  -webkit-box-shadow: 0px 7px 5px -4px rgba(146, 153, 159, 0.3);
  -moz-box-shadow: 0px 7px 5px -4px rgba(146, 153, 159, 0.3);
  box-shadow: 0px 7px 5px -4px rgba(146, 153, 159, 0.3);
  transition: 0.3s;
  width: 18rem;
  height: 30rem;
  border: 1px solid rgb(16, 13, 13);
}
.licenses:hover {
  transform: scale(105%);
}
.licenses img {
  width: 100%;
  height: 100%;
}
.licenses-tittle {
  text-align: center;
  font-size: var(--font-size-standart);
  margin-bottom: var(--primary-margin);
}
.all-licenses {
  gap: 1rem;
  flex-wrap: wrap;
  display: flex;
}

/* Контакты */
.contacts {
  -webkit-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  background-color: white;
  display: block;
  flex-wrap: wrap;
  max-width: var(--primary-width-1440);
  margin: o auto;
  margin-top: var(--primary-margin);
  padding: var(--primary-margin);
  justify-content: space-around;
  gap: 1rem;
}
.contacts-tittle {
  text-align: center;
  font-size: var(--font-size-standart);
  margin-bottom: var(--primary-margin);
}
.our-contacts {
  gap: 1rem;
  max-width: var(--primary-width-1440);
  margin: o auto;
  display: flex;
  flex-wrap: wrap;
}
.text-contact {
  padding-left: 1rem;
  font-size: 1.3rem;
  width: 30rem;
  height: 25rem;
}
.text-contact a {
  transition: transform 0.2s ease;
  text-decoration: none;
}
.text-contact a:hover {
  transform: scale(120%);
}
.text-contact-bolt {
  font-size: 1.5rem;
  font-weight: bold;
}
.icon-contact {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-top: 1.5rem;
}
.whatsapp-contact {
  width: 3.6rem;
}
.icon-contact a {
  margin: 0;
}
.icon-contact img {
  transition: 0.3s;
  cursor: pointer;
  margin: 0;
  height: 4rem;
}
.icon-contact img:hover {
  transform: scale(115%);
}

.map {
  width: 50rem;
  height: 25rem;
}
/* ФУТТЕР */

.footer {
  -webkit-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 18px 12px rgba(34, 60, 80, 0.2);
  background-color: white;
  max-width: var(--primary-width-1440);
  height: 4rem;
  margin: o auto;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer nav {
  text-align: center;
  margin: 0;
}
.footer a {
  cursor: pointer;
  text-decoration: none;
}
